{% extends "layout.njk" %}

{% block head %}
  <title>{{course.title}}</title>
  {% endblock%}

  {% block content %}
    <section class="courses intern">

      <div class="course" id="{{ course.id }}">
        <div class="course__logo">
          <img src="{{ course.logo }}" alt="Logo do curso {{ course.title }}">
        </div>
        <div class="course__title">
          <h1>{{ course.title }}</h1>
        </div>
        <div class="course__info">
          <p>{{ course.price }}</p>
          <p class="course__modules">{{ course.modules }}</p>
        </div>
      </div>

    </section>
  {% endblock %}