{% extends "layout.njk" %}

{% block head %}
  <title>Cursos - Kallel Roman</title>
{% endblock%}

{% block content %}
  <section class="courses">

    {% for course in courses %}
      <div class="course" id="{{ course.id }}">
        <div class="course__logo">
          <img src="{{ course.logo }}" alt="Logo do curso {{ course.title }}">
        </div>
        <div class="course__title">
          <h1>{{ course.title }}</h1>
        </div>
        <div class="course__info">
          <p>{{ course.price }}</p>
          <p class="course__modules">{{ course.modules }}</p>
        </div>
      </div>
    {% endfor %}

  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="actions-modal" id="maximize-modal">
        <i class="material-icons">check_box_outline_blank</i>
      </a>
      <a class="actions-modal" id="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="class-content">
        <iframe src=""></iframe>
      </div>
    </div>
  </div>

  <script src="script.js"></script>

{% endblock %}